<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Búsqueda de Empleados</h1>
    <!-- Formulario de búsqueda -->
    <form action="/empleados/buscarxnombre" method="get">
        <label for="nombre">Buscar por Nombre:</label>
        <input type="text" id="nombre" name="nombre" />
        <button type="submit">Buscar</button>
    </form>
      
    
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Fecha de Nacimiento</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.id}"></td>
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.cargo}"></td>
                <td th:text="${empleado.departamento.nombre}"></td>
                <td th:text="${#dates.format(empleado.fechaNac, 'dd/MM/yyyy')}"></td>
                <td th:text="${empleado.salario}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>